.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/archive

.navigation/
.idea/
*.iml
manifest-merger-release-report.txt

## ignore crashlytics export strings
com_crashlytics_export_strings.xml
crashlytics-build.properties
